html {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
}

#sim {
  display: flex;
  justify-content: center;
}

#grid {
  display: flex;
  flex-flow: row wrap;
  margin-right: 10px;
}

canvas {
  border: 1px solid #000000;
  margin: 0;
}

.box {
  border: 3px solid #000000;
  border-radius: 5px;
  border-style: dotted;
  padding: 10px;
  margin-bottom: 20px;
}

label {
  display: block;
}

button {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 3px;
}

button:hover {
  background-color: #fffff8;
}

.buttonLabel {
  text-align: center;
}

.evenDisplay {
  display: flex;
  justify-content: space-around;
}

.myCircle:hover {
  stroke: black;
}
